<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped">
      <thead>
      </thead>
      <tbody>
        <% @cover_images.each do |doc|%>
        <tr>
          <td><%= doc.name %></td>
          <td><%= image_tag  doc.image.url(:thumb) %></td>
          <td><%= link_to "Edit", edit_admin_cover_image_path(doc), class: "btn btn-default" %></td>
        </tr>
        <%end%>
      </tbody>
    </table>
    <%= paginate @cover_images %>
  </div>
</div>
